@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background: #000;
    position: relative;
}

header{
    padding: 6rem;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    width: 26rem;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #FFF;
}

div>button{
    display: none;
}

.btn{
    border: 1px solid #8257E5;
    width: 12rem;
    height: 2.5rem;
    padding: .6rem;
    border-radius: .4rem;
    color: #fff;
    font-weight: bold;
    background-color: #000;
}

.btn-position{
    position: absolute;
    right: 18%;
}

.img{
    position: absolute;
    left: 25%;
}

.img-coffee{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 13rem;
    left: -50%;
    right: -50%;
}

.great-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.great-coffee{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.text, .purple{
    font-weight: 700;
    font-size: 5rem;
}

.text{
    color: #fff;
}

.purple{
    color: #000;
    display: flex;
    align-items: center;
    align-self: center;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#logo{
    height: 4rem;
    width: 4rem;
}

#logo-mobile{
    display: none;
}

#rotated-arrow{
    transform: rotateY(180deg);
}

#blur-bottom{
    position: absolute; bottom: 15%;
}

#blur-top{
    position: absolute; top: 0; right: 0;
}

#blur-mobile{
    display: none;
}

#mobile-text{
    display: none;
}

@media only screen and (max-width: 1280px){
    header{
        border-bottom: 1px solid #29292E;
        padding: 2.4rem;
    }
        
    nav>button{
        display: none;
    }
    nav>ul{
        display: none;
    }
    
    div>button{
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .btn{
        position: relative;
    }

    .btn-mobile{
        margin-bottom: 3rem;
    }

    .btn:hover{
        transition: .6s;
        background-color: #8257E5;
    }

    .mobile-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mobile-text{
        display: flex;
        padding: 3rem;
        display: flex;
        font-size: 2rem;
        flex-wrap: wrap;
    }

    #logo{
        display: none;
    }

    #logo-mobile{
        display: flex;
        flex: initial;
    }

    #blur-bottom{
        bottom: 10%;
    }

    .text, .purple{
        font-weight: 700;
        font-size: 4rem;
    }

    .arrow{
        height: 2.8rem;
    }

    .img-coffee{
        bottom: 6.6rem;
    }

}

@media only screen and (max-width: 1024px){

    .img-coffee img{
         height: 20rem;   
    }

    #blur-top{
        display: none;
    }

    #blur-bottom{
        display: none;
    }

    .arrow{
        height: 2.4rem;
    }

}

@media only screen and (max-width: 1024px) and (max-height: 600px){
    .text, .purple{
        font-weight: 700;
        font-size: 3.5rem;
    }

    #mobile-text{
        font-size: 1.4rem;
    }

    .img-coffee img{
         height: 9.5rem;   
    }

    #blur-top{
        display: none;
    }

    #blur-bottom{
        display: none;
    }

    .arrow{
        height: 2.4rem;
    }

    .btn-mobile{
        margin-bottom: 1.6rem;
    }

}

@media only screen and (max-width: 768px) {
    .text, .purple{
        font-weight: 700;
        font-size: 3.5rem;
    }

    .img-coffee img{
        height: 12rem;   
   }

}

@media only screen and (max-width: 480px) {
    .text, .purple{
        font-weight: 700;
        font-size: 3rem;
    }

    .arrow, #rotated-arrow{
        height: 2rem;
    }

    .img-coffee img{
        height: 14rem;   
   }

    #mobile-text{
    font-size: 1.6rem;
    }
}

@media only screen and (max-width: 360px) {
    .text, .purple{
        font-weight: 700;
        font-size: 1.6rem;
    }

    #mobile-text{
        font-size: 1.2rem;
    }

    .img-coffee img{
        height: 10rem;   
   }
}