@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

*, ul{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background: #000;
}

header{
    padding: 4rem;
    display: flex;
    justify-content: center;
    padding: 6rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div>button, #logo-mobile, #blur-mobile, #mobile-text{
    display: none;
}

#menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    align-items: center;
    gap: 1rem
}

#menu a{
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: #FFF;
}

.btn{
    border: 1px solid #8257E5;
    width: 12rem;
    height: 2.6rem;
    padding: .6rem;
    border-radius: .4rem;
    color: #fff;
    font-weight: bold;
    background-color: #000;
}

.btn:hover{
    transition: .6s;
    background-color: #8257E5;
}

.btn-position{
    position: absolute;
    right: 16%;
}

#img-coffee{
    display: flex;
    left: 50%;
    transform:translateX(-50%) ;
}

#logo{
    height: 4rem;
    width: 4rem;
}

#logo-position{
    position: absolute;
    left: 24%;
}

#text-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#over-text, .text, .purple{
    font-weight: 700;
    font-size: 5rem;
}

#over-text{
    color: #fff;
}

#under-text{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#purple-text{
    color: #000;
    display: flex;
    align-items: center;
    align-self: center;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#rotated-arrow{
    transform: rotateY(180deg);
}

#img-coffee, #blur-bottom{
    position: fixed;
    bottom: 0;
}

#blur-top{
    position: fixed;
    right: 0;
    top: -10%;
}

/*---MEDIA QUERIES---*/

@media only screen and (max-width: 1280px){

    header{
        border-bottom: 1px solid #29292E;
        padding: 2.4rem;
    }
        
    nav>button{
        display: none;
    }
    
    div>button{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    #menu{
        display: none;
    }

    #mobile-text{
        display: flex;
        padding: 3rem;
        font-size: 2rem;
        color: #fff;
        justify-content: center;
        text-align: center;
    }

    #logo{
        display: none;
    }

    #logo-mobile{
        display: flex;
        flex: initial;
    }

    #over-text, #purple-text, .text{
        font-weight: 700;
        font-size: 4rem;
    }

    .img-coffee{
        bottom: 6.6rem;
    }

    .btn-mobile{
        margin-bottom: 3rem;
    }

    #mobile-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 1024px){

    .img-coffee img{
         height: 20rem;   
    }

    #blur-top{
        display: none;
    }
}

@media only screen and (max-width: 768px) {

     #over-text, #purple-text{
        font-weight: 700;
        font-size: 3.5rem;
    }

    #mobile-text{
        font-size: 1.8rem;
    }

    #img-coffee img{
        height: 18rem;   
   }

}

@media only screen and (max-width: 480px) {

    .text, #over-text, #purple-text{
        font-weight: 700;
        font-size: 2.8rem;
    }

    .arrow, #rotated-arrow{
        height: 1.8rem;
    }

    #img-coffee img{
        height: 14rem;   
   }

}

@media only screen and (max-width: 360px) {

    .text, #over-text, #purple-text{
        font-weight: 700;
        font-size: 2.6rem;
    }

    #mobile-text{
        font-size: 1.6rem;
    }

    .arrow, #rotated-arrow{
        height: 1.6rem;
    }
    
   #blur-mobile{
    display: flex;
    position: fixed;
    bottom: 0;
   }

}



